@import "../../styles/mixines.scss";

.productCardMain {
  padding: 50px 120px 66px 120px;

  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 110px;

  background-image: url('../../images/Categories/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  @include onDesktop {
    padding: 50px 80px 66px 80px;

    gap: 80px;
  }

 

  @include onMobile {
    background-image: none;
    background: #fff7f1;
   
    padding: 30px 30px 82px 30px;
  }
}

.productCardHeader {
  
  &__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 21px;

    margin-bottom: 43px;
  }

  &__title2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    margin-bottom: 34px;

    &:first-letter {
      text-transform: uppercase;
    }

    @include onDesktop {
      font-size: 30px;

      margin-bottom: 25px;
    }

     @include onTablet {
      font-size: 26px;
      line-height: 27px;
    }

    @include onMobile {
    
      margin-bottom: 16px;
    }
  }

  &__price {
    
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 30px;

    @include onDesktop {
      font-size: 18px;
      line-height: 23px;

      margin-bottom: 35px;
    }

    @include onTablet {
      font-size: 13px;
      line-height: 13px;
    }

    @include onMobile {
      font-size: 20px;
      line-height: 26px;

      margin-bottom: 24px;
    }
  }

  &__descriptionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    margin-bottom: 20px;

    @include onDesktop {
      font-size: 20px;
    }

     @include onTablet{
      font-size: 15px;
      line-height: 23px;
    }

    @include onMobile {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 30px;

    @include onDesktop {
      font-size: 18px;
    }

     @include onTablet {
     
      font-size: 15px;
  
    }

    @include onMobile {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__weight {
    
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 30px;

    @include onDesktop {
      font-size: 20px;

    }
     
    @include onTablet {
      font-size: 15px;
      line-height: 23px;

      margin-bottom: 15px;
    }
    
    @include onMobile {
      font-size: 16px;
      line-height: 18px;

     margin-bottom: 30px;
   
    }

    
  }

  &__taste {
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 30px;

      @include onTablet {
      font-size: 13px;
      line-height: 23px;
    
    }

    @include onMobile {
      font-size: 16px;
      line-height: 18px;
    }

  }
  
  &__basketButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 14px;

    @include onTablet {
      gap: 10px;
    }
  }
  &__basketButton {
      font-family: Georgia, 'Times New Roman', Times, serif;
      height: 70px;
      background-color: #FFF;
      border: none;
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;

      @include onDesktop {
        font-size: 18px;
      }


   @include onTablet {
      font-size: 15px;
      line-height: 18px;
      height: 46px;
   
    }
    @include onMobile {
      font-size: 16px;
      line-height: 18px;
      background-color: #ebc6a8;
      
    }

  }

  &__counterButton {
      
      height: 70px;
      background-color: #fff;
      border: none;
      font-size: 24px;
      line-height: 27px;
      padding: 0;

      @include onDesktop {
        font-size: 18px;
        height: 46px;

      }
      
    @include onMobile {
      font-size: 20px;
      line-height: 26px;
      background-color: #ebc6a8;
    }

  }

  &__counterTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
      text-align: center;
      align-items: center;

      @include onDesktop {
        font-size: 18px;
      }

  }

  &__notification {
    font-family: Montserrat, sans-serif;
    background: rgba(235, 198, 168, 1);
    padding: 15px 32px;
    position: fixed;
    top: 0;
    left: 120px;
    width: calc(100% - 240px);
    font-size: 15px;
    line-height: 150%;
    color: #08090B;

    display: flex;
    gap: 24px;

    z-index: 10;

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }


    @include onDesktop {
      width: calc(100% - 160px);
      left: 80px;
    }
    @include onTablet {
      width: calc(100% - 120px);
      left: 60px;
    }
    @include onMobile {
      display: none;
    }
  }
}

.desktopDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 5fr;
  gap: 50px;

  @include onDesktop {
    gap: 30px;
  }

  @include onMobile {
    display: flex;
    flex-direction: column;
  }


  &__photoZone {
    display: grid;
    grid-template-columns: 1fr 540px;
    column-gap: 25px;
    grid-template-rows: 115px 115px 115px 115px 40px;
    row-gap: 17px;

    @include onDesktop {
      grid-template-columns: 1fr 450px;
      column-gap: 20px;
      grid-template-rows: 100px 100px 100px 100px 30px;
    }

    @include onTablet {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      column-gap: 0;
      row-gap: 0;
   
    }

    @include onMobile {
      display: none;
    }

    &-img {
      grid-column: 2/2;
      grid-row: 1/6;

      @include onTablet {
        display: block;
      }
      
  
      @include onMobile {
        display: block;
        width: 85%;
        margin: 0 auto;
      }
    }

    &-sideImg1 {

      @include onDesktop {
        height: 100%;
      }
   
     @include onTablet {
       display: none;
     }
  
   }
   
   &-sideImg2 {

    @include onDesktop {
      height: 100%;
    }
   
     @include onTablet {
       display: none;
     }
   }
   
   &-sideImg3 {

    @include onDesktop {
      height: 100%;
    }
    
     @include onTablet {
       display: none;
     }
   }
   
   &-sideImg4 {

    @include onDesktop {
      height: 100%;
    }
   
     @include onTablet {
       display: none;
     }
   }

   & .swiper{
    width: 100%;
    height: 100%;
  
      &__img {
        width: 100%;
   
        & img {
          height: 512px;
          width: 100%;
          object-fit: cover;
  
          @include onDesktop {
            height: 450px;
          }
  
          @include onTablet {
            height: 350px;
          }
        }
      }
    }
  }

  &__photo-mobile {
    display: none;

    @include onMobile {
      display: block;
      margin-bottom: 52px;
    }
  }
}

.counterBox {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
  width: 100%;
  height: 70px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

   @include onTablet {
    height: 46px;
  }
  @include onMobile {
    background-color: #ebc6a8;
 
  }
}

.productCardBlock1 {
  
  color: rgba(112, 112, 112, 1);

  &__tabs {
    display: flex;
    gap: 70px;

    margin-bottom: 30px;

    @include onMobile {
      gap: 9px;
    }

    &-button {
      font-family: inherit;
      color: inherit;
      background: none;
      border: none;
      font-size: 24px;
      line-height: 26px;
      padding-bottom: 12px;
      cursor: pointer;

      @include onDesktop {
        font-size: 20px;
        line-height: 22px;
      }

      &--active {
         color: rgba(0, 0, 0, 1);
         border-bottom: 1px solid rgba(0, 0, 0, 1);

      }

      &--mobile {
        display: none;

        @include onMobile {
          display: block;
        }
      }

      &--desktop {
        @include onMobile {
          display: none;
        }
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 23px;
 
    @include onMobile {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.productCardBlock2 {

  &__title1 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    line-height: 35px;
    
    margin-bottom: 43px;
  }

  &__img {
    width: 310px;

    margin-bottom: 37px;

     @include onDesktop {
      width: 270px;
    }

     @include onTablet {
      width: 200px;
    }

    @include onMobile {
      width: 100%;
    }

  }

  &__title2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    margin-bottom: 15.6px;

    @include onTablet {
      font-size: 16px;
    }

  
    @include onMobile {
   
      font-size: 18px;

    }
  }

  &__price {
    color: #A18A68;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

  }
}

.desktop {

  @include onMobile {
    display: none;
  }
}

.display {
  display: flex;
  justify-content: space-between;
  gap: 105px;

  @include onTablet {
    gap: 80px;
  }

  @include onMobile {
    display: none;
  }

  &--onMobile {
    display: none;

    @include onMobile {
      display: block;
    }
  }
}


