@import './mixines.scss';

.app {
  max-width: 100%;
  overflow-x: hidden;
}


a {
  color: inherit;
}

button {
  color: inherit;
  cursor: pointer;
}

.order-button {
  font-family: Montserrat;
  font-weight: 500;
  padding: 10px;
  width: 295px;
  height: 49px;
  background: #ebc6a8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  text-transform: uppercase;


  @include onDesktop {
    font-size: 16px;
    width: 250px;
  }

  @include onTablet {
    width: 200px;
    font-size: 14px;
  }

  @include onMobile {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    height: 53px;
  }
}

.allProducts-button {
  font-family: Montserrat;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 33px;
  background: none;
  border: none;
  display: flex;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 90px;


  & span {
    margin-right: 21px;
  } 
  

@include onTablet {
  font-size: 18px;
}

 @include onMobile {
  font-size: 15px;

  margin-bottom: 120px;
}

}

.popularBlock-button {
margin-left:  auto;
margin-right: 0;
margin-bottom: 0;

@include onMobile {
  margin: 0 auto;
}
}

.overflowHidden {
  overflow: hidden;
}
