@font-face {
  font-family: Georgia;
  src: url('../assets/fonts/georgia.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Trebuchet MS;
  src: url('../assets/fonts/trebuchetms.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  color: #08090B;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
