@import "../../../styles/mixines.scss";

.productCardHeader {
  
  
  padding: 50px 120px 66px 120px;

  font-family: Montserrat, sans-serif;
  

  @include onDesktop {
    padding: 50px 80px 66px 80px;
  }

  @include onTablet {
    padding-bottom: 0;
  }

  @include onMobile {
   
    padding: 30px 30px 82px 30px;
  }



  &__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 21px;

    margin-bottom: 43px;
  }

  &__title2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    margin-bottom: 34px;

    @include onDesktop {
      font-size: 30px;

      margin-bottom: 25px;
    }

     @include onTablet {
      font-size: 26px;
      line-height: 27px;
    }

    @include onMobile {
    
      margin-bottom: 16px;
    }
  }

  &__price {
    
    font-size: 20px;
    line-height: 21px;
    font-weight: 500;

    margin-bottom: 48px;

    @include onDesktop {
      font-size: 18px;

      margin-bottom: 35px;
    }

    @include onTablet {
      font-size: 13px;
      line-height: 13px;
    }

    @include onMobile {
      margin-bottom: 24px;
  
    }
  }

  &__descriptionTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 4px;

    @include onDesktop {
      font-size: 20px;
    }

     @include onTablet{
      font-size: 15px;
      line-height: 23px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 23px;

    margin-bottom: 4px;

    @include onDesktop {
      font-size: 18px;
    }

     @include onTablet {
     
      font-size: 15px;
  
    }

    @include onMobile {
      font-size: 11px;
      line-height: 15px;
    }
  }

  &__weight {
    
    font-size: 24px;
    line-height: 36px;

    margin-bottom: 18px;

    @include onDesktop {
      font-size: 20px;

    }
     
    @include onTablet {
      font-size: 15px;
      line-height: 23px;

      margin-bottom: 15px;
    }
    
    @include onMobile {
    margin-bottom: 12px;
   
    }

    
  }

  &__taste {
    font-size: 18px;

    margin-bottom: 40px;

      @include onTablet {
      font-size: 13px;
      line-height: 23px;

      margin-bottom: 25px;
    
    }

  }
  
  &__basketButtons {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 14px;

    @include onTablet {
      gap: 10px;
    }
  }
  &__basketButton {
      font-family: Georgia, 'Times New Roman', Times, serif;
      height: 70px;
      background-color: #FFF;
      border: none;
      font-weight: 400;
      font-size: 23px;
      line-height: 27px;

      @include onDesktop {
        font-size: 18px;
      }


   @include onTablet {
      font-size: 15px;
      line-height: 18px;
      height: 46px;
   
    }
    @include onMobile {
      background-color: #ebc6a8;
    }

  }

  &__counterButton {
      
      height: 70px;
      background-color: #fff;
      border: none;
      font-size: 24px;
      line-height: 27px;

      @include onDesktop {
        font-size: 18px;
        height: 46px;

      }
      
    @include onMobile {
      
      background-color: #ebc6a8;
    }

  }

  &__counterTitle {
    
      text-align: center;
      align-items: center;

      @include onDesktop {
        font-size: 18px;
      }

  }

  &__notification {
    font-family: Montserrat, sans-serif;
    background: rgba(235, 198, 168, 1);
    padding: 15px 32px;
    position: fixed;
    top: 0;
    left: 120px;
    width: calc(100% - 240px);
    font-size: 15px;
    line-height: 150%;
    color: #08090B;

    display: flex;
    gap: 24px;

    z-index: 10;

    &-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }


    @include onDesktop {
      width: calc(100% - 160px);
      left: 80px;
    }
    @include onTablet {
      width: calc(100% - 120px);
      left: 60px;
    }
    @include onMobile {
      display: none;
    }
  }
}

.desktopDisplay {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 5fr;
  gap: 50px;

  @include onDesktop {
    gap: 30px;
  }

  @include onMobile {
    display: flex;
    flex-direction: column;
  }


  &__photoZone {
    display: grid;
    grid-template-columns: 1fr 540px;
    column-gap: 25px;
    grid-template-rows: 115px 115px 115px 115px 40px;
    row-gap: 17px;

    @include onDesktop {
      grid-template-columns: 1fr 450px;
      column-gap: 20px;
      grid-template-rows: 100px 100px 100px 100px 30px;
    }

    @include onTablet {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      column-gap: 0;
      row-gap: 0;
      height: max-content;
    }

    @include onMobile {
      display: none;
    }

    &-img {
      grid-column: 2/2;
      grid-row: 1/6;

      @include onTablet {
        display: block;
      }
      
  
      @include onMobile {
        display: block;
        width: 85%;
        margin: 0 auto;
      }
    }

    &-sideImg1 {

      @include onDesktop {
        height: 100%;
      }
   
     @include onTablet {
       display: none;
     }
  
   }
   
   &-sideImg2 {

    @include onDesktop {
      height: 100%;
    }
   
     @include onTablet {
       display: none;
     }
   }
   
   &-sideImg3 {

    @include onDesktop {
      height: 100%;
    }
    
     @include onTablet {
       display: none;
     }
   }
   
   &-sideImg4 {

    @include onDesktop {
      height: 100%;
    }
   
     @include onTablet {
       display: none;
     }
   }
  }

  &__photo-mobile {
    display: none;

    @include onMobile {
      display: block;
      margin-bottom: 52px;
    }
  }
 
}

.counterBox {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #fff;
  width: 100%;
  height: 70px;
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;

   @include onTablet {
    height: 46px;
  }
  @include onMobile {
    background-color: #ebc6a8;
 
  }
}

.swiper{
  width: 100%;
  height: 100%;

  @include onTablet {
    height: 80%;
  }

  &__img {
    width: 100%;

    & img {
      height: 512px;
      width: 100%;
      object-fit: cover;

      @include onDesktop {
        height: 450px;
      }

      @include onTablet {
        height: 350px;
      }
    }
   
  }

  .swiper-scrollbar {
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
    position: relative;
    -ms-touch-action: none;
    background: rgba(235, 198, 168, 1);
    ;
    .swiper-scrollbar-disabled > &,
    &.swiper-scrollbar-disabled {
      display: none !important;
    }
    .swiper-horizontal > &,
    &.swiper-scrollbar-horizontal {
      position: absolute;
      left: 0;
      bottom: var(--swiper-scrollbar-bottom, 4px);
      top: var(--swiper-scrollbar-top, auto);
      z-index: 50;
      height: 2px;
      width: 100%;
    }
    .swiper-vertical > &,
    &.swiper-scrollbar-vertical {
      position: absolute;
      left: var(--swiper-scrollbar-left, auto);
      right: var(--swiper-scrollbar-right, 4px);
      top: var(--swiper-scrollbar-sides-offset, 1%);
      z-index: 50;
      width: 100%;
      height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
    }
  }
  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(144, 88, 75, 1);
    ;
    border-radius: var(--swiper-scrollbar-border-radius, 10px);
    left: 0;
    top: 0;
  }
  .swiper-scrollbar-cursor-drag {
    cursor: move;
  }
  .swiper-scrollbar-lock {
    display: none;
  }
}