@import '../../../styles/mixines.scss';

.accountEnterMain {
  background-image: url('../../../images/Contacts/BgrdGradient.png');
  background-size: cover;
  padding: 150px 0;
  text-align: center;
  text-transform: uppercase;

  font-family: Montserrat, sans-serif;

  @include onDesktop {
    padding: 100px 0;
  }
  @include onTablet {
    padding: 60px 0;
  }

    @include onMobile {
      background-image: none;
      background: #fff7f1;

      padding: 60px 40px;
    }

    & button {
      cursor: pointer;
    }

  &__title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    margin-bottom: 80px;

    @include onMobile {

    margin-bottom: 35px;
    }

  }

  &__form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 70px;

    margin-bottom: 48px;

    @include onMobile {
      width: 100%;
      gap: 40px;
      
      margin-bottom: 14px;
    }

    &-buttonBox {
      width: 100%;
      height: 100px;

      background: #EFEFEF;
      border-radius: 13.376px;
      padding: 8.36px;

      @include onMobile {
        height: 36px;
        border-radius: 4.824px;
        padding: 3px;
      }
    }

    &-button {
      height: 100%;
      width: 50%;
      font-family: inherit;
      font-weight: 400;
      

      border-radius: 13.376px;
      font-size: 33px;
      line-height: 43px;
      background: none;
      border: none;

      @include onMobile {
        border-radius: 4.824px;
        font-size: 12px;
        line-height: 16px;
      }

      &--active {
        background-color: white;
        box-shadow: 1.672px 1.672px 6.688px rgba(0, 0, 0, 0.1);
      }
    }

    &-input {
      padding: 24px 0;
      background: none;
      border: none;
      border-bottom: 1.67px solid rgba(8, 9, 11, 0.5);
      outline: none;
      font-size: 20px;
      line-height: 21px;

      @include onMobile {
        padding: 15px 0;
        font-size: 14px;
        line-height: 14.7px;
      }

      &::placeholder {
      
          font-family: inherit;
          font-weight: inherit;
          font-size: 20px;
          line-height: 21px;
          text-transform: uppercase;
          color: inherit;

          @include onMobile {
            font-size: 14px;
            line-height: 14.7px;
          }
      }
    }
  }


  &__checkbox {
    align-self: start;
    display: flex;
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    @include onMobile {
      display: block;
      margin: 0 0 2% 0;
    }

    & input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked+span::before {
        box-sizing: border-box;
        border: 3px solid rgba(8, 9, 11, 1);
        background-image: url('../../../images/AccountInformation/check.svg') ;
      }
    }

    & span {
      font-family: Montserrat, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 105%;
      text-transform: uppercase;

      @include onMobile {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        line-height: 18px;
      }

      &::before {
      content: "";
      box-sizing: border-box;
      width: 26px;
      height: 28px;
      border: 1.672px solid #08090B;
      border-radius: 3.344px;
  
      position: absolute;
      top: -2px;
      left: 0;

      @include onMobile {
        width: 20px;
        height: 22px;
      }
     
      }
    }
  }

  &__submitButton {
      height: 88px;
      width: 100%;
      border-radius: 6.688px;
      background-color: #000;
      color: #FFF;
      font-family: inherit;
      font-size: 18px;
      line-height: 18px;
      margin: 0 auto;
      text-transform: uppercase;
      font-weight: 500;
    @include onMobile {
  
      width: 204px;
      height: 55px;
 ;
    }

  }

  &__forgotPassword {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    
    @include onMobile {
     
      font-size: 12px;
    }
  }
}
